body{
	background-color: #853962;
}
p{
	color: #1496BC;
	font-size: 50px;
}

section{
	margin: -1%;
	padding: 20px;
}
section div{
	background-color: #1496BC;
	cursor: pointer;
	display: table;
	float: left;
	height: 180px;
	margin: 1%;
	text-align: center;
	width: 30%;
	-webkit-transition: 0.25s all ease-in-out;
}

section div:hover{
	background-color: #71c304;
	-webkit-transform:scale(1.1,1.1);
	-webkit-box-shadow: 5px 5px 50px;
}
section div span{
	color: white;
	display: table-cell;
	font-size: 156px;
	font-family: arial;
	vertical-align: middle;
}

#canvas{
	bottom: 0;
	height: 600px;
	margin: auto;
    left: 0;
	position: absolute;
    right: 0;
	top:0;
	width: 600px;
}

#overlay{
	background-color: rgba(0,0,0, 0.9);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

#overlay-content{
	background-color: #C0C0C0;
	bottom: 0;
	height: 300px;
	margin: auto;
    left: 0;
	position: absolute;
    right: 0;
	top:0;
	width: 400px;
	-webkit-box-shadow: 7px -2px 34px 15px rgba(0,0,0,0.67);
    -moz-box-shadow: 7px -2px 34px 15px rgba(0,0,0,0.67);
    box-shadow: 7px -2px 34px 15px rgba(0,0,0,0.67);
}
